body { 
  background-color:#f3bee5;
}

h2 {
color: Hotpink; font-size:30}

p {
  font-size: 31;
  font-family: sans-serif;
}
p {font-size:60;
  }
li {
  float: left;
}

 li a:link {color:pink;}
  li a:hover {
  background-color: 100;
  }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14 16;
  text-decoration: none;
}
                                                                                                          
